*{
    margin: 0;
    padding: 0;
}


nav {
    width: 15%;
    background-color: var(--cam);
    color: rgba(255, 255, 255, 0.589);
    font-weight: 700;
    letter-spacing: 1.5px;
}

.gicungduoc.active {
    color: white;
}
.gicungduoc {
    cursor: pointer;
    transition: 0.4s;
}

.gicungduoc:hover {
    color: white;
}

.noidung {
    width: 100%;
}

img.anh {
    width: 195px;
    height: 195px;
    border-radius: 50%;
    box-shadow: 0 0 0px 10px #ffffff52;
    margin-bottom: 30px;
}

li {
    list-style: none;
    color: var(--xam2);
}

.khoi4 .icon i {
    font-size: 48px;
    color: var(--xam2);
    margin-right: 16px;
}

p.thoigian {
    color: var(--cam);
    text-align: right;
}


.khoi1 .icon i {
    width: 64px;
    height: 64px;
    background-color: var(--xam1);
    color: white;
    text-align: center;
    line-height: 64px;
    border-radius: 50%;
    margin-right: 16px;
    margin-top: 48px;
    font-size: 21px;
}

p.mota1 {
    color: var(--xam2);
    font-size: 18px;
    margin-top: 48px;
}

span.email {
    color: var(--cam);
}

span.ten {
    color: var(--cam);
}

html {
    height: 100%;
}

body {
    font-family: 'Muli', sans-serif;
    --cam: #00BCD4;
    --xam1: #343a40;
    --xam2: #868e96;
    height: 100%;
    padding-left: 15%;
}

body.xanh {
    --cam: green;
}

body.vang {
    --cam: rgb(255, 200, 20);
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Saira Extra Condensed', sans-serif;
}

h3.tieude3 {
    font-size: 32px;
    font-weight: 700;
    color: var(--xam1);
}

h2.tieude2 {
    font-size: 56px;
    font-weight: 700;
    color: var(--xam1);
}

h4.tieude4 {
    font-size: 24px;
    color: var(--xam2);
}

h1.tieude1 {
    font-size: 96px;
    font-weight: 700;
    color: var(--xam1);
}

hr {
    border: 0.5px solid #aaa;
}